<!DOCTYPE html>
<html lang="en">
<head>
  <title>Car Mapping Task</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div class="container">
  <form class="form-horizontal" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="road_type"> Road Type:</label>
      <div class="radio">
        <label><input type="radio" name="road_type" value="urban" checked>Urban</label>
        <label><input type="radio" name="road_type" value="rural" >Rural</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="road_length">Road Length:</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" step="0.01" min="0.0" max="100000000.0" id="road_length" placeholder="Enter length of road" name="road_length">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
<br><br>
<div class="container">
  <center><p><a href="{{ url_for('userHistory') }}">Check Your Travel History</a></p></center>
</div>
</body>
</html>
